body {
  font-family: Gill Sans, sans-serif;
  background-color: salmon;
  text-align: center;
}
#group {
  text-align: center;
}
#linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 100px;
  text-align: center;
}